<div class="container py-5">
  <h3>Company</h3>
  <div class="row text-right">
    <div class="col">
      <%= link_to edit_company_path, class: "btn btn-primary float-right" do %>
        <i class="fa fa-edit" aria-hidden="true"></i> Edit
      <% end %><br><br>
      <%= link_to companies_path, class: "btn btn-primary float-right" do %>
        <i class="fa fa-list" aria-hidden="true"></i> List of Company
      <% end %><br><br>
    </div>
  </div>
  
  <div class="row bg-success" style="background-color: <%= @company.brand_color.to_s %> !important">
    <div class="container p-5 text-white">
      <h1><%= @company.name %></h1>
      <h3><%= @company.full_address %></h3>
    </div>
  </div>

  <div class="row bg-light">
    <div class="col-12 col-lg-8 p-lg-5 pt-4">
      <%= @company.description %>
    </div>
    <div class="col-12 col-lg-4 pt-lg-5">
      <h4>Services</h4>
      <% @company.services.reject(&:blank?).each do |service| %>
        <p><%= service %></p>
      <% end %>
      <h4>Contact</h4>
        <div class="form-group" data-controller="clipboard">
          <p><%= @company.phone %><br>
          <input type="hidden" value="<%= @company.phone %>" data-target="clipboard.source"></input>
          <a data-action="clipboard#copy" class="clipboard-button pointer text-decoration-none text-dark"> copy</a>
          <a data-target="clipboard.notice" class="clipboard-button pointer d-none text-decoration-none text-dark" class="d-none"> copied</a> 
          </p>         
        </div>
    </div>
  </div>

  <div class="row bg-success" style="background-color: <%= @company.brand_color.to_s %> !important">
    <div class="container py-3 text-white">
      <h4 class="text-center"><%= @company.phone %> — <%= @company.email %></h4>
    </div>
  </div>
</div>
